﻿@{
    ViewData["Title"] = "About-Us";
}
<style>
    .AboutContainer {
        padding: 5px;
        width: contain; /* Adjusted to make the container span the entire width */
        height: auto; /* Removed "contain" to let it adjust to content */
        background-color: rgba(217,217,217,0.3);
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
        border-radius: 15px; /* Adjust the value for desired corner roundness */
        margin: 40px;
        text-align: center;
    }

    .Text1 {
        font-size: 80px;
        color: white;
        text-align: center;
        padding-bottom: 25px;
    }

    .Text2 {
        font-size: 50px;
        color: white;
        max-width: 1500px;
        text-align: center;
    }
</style>

<div class="AboutContainer">
    <div class="Text1">
        <h1>About Us</h1>
    </div>
    <div class="Text2">
        <p>Welcome to Khumalo Craft, your premier online marketplace for buying and selling unique handmade art. We are dedicated to connecting talented artisans with appreciative buyers who value craftsmanship and creativity. Our platform celebrates the beauty of handmade work, offering a wide range of products from jewelry and ceramics to paintings and textiles. Whether you're an artist looking to showcase your creations or a buyer seeking one-of-a-kind pieces, Khumalo Craft is here to support and inspire the handmade art community. Join us in celebrating the art of craftsmanship and the stories behind each creation.</p>
    </div>
</div>